<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GETIS2.0</title>

</head>

<body>
<div class="container">
    <div class="int-area">
        <input type="text" name="id" id="id" autocomplete="off" required>
        <label for="id">아이디</label>
    </div>
    <div class="int-area">
        <input type="password" name="id" id="pw" autocomplete="off" required>
        <label for="id">비밀번호</label>
    </div>
    <div class="btn-area">
        <button id="btn">로그인</button>
    </div>
</div>


<!-- 나의 js 추가 외부 라이브러리는 body 밑에 놔둬라-->
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script th:src="@{/js/login.js}"></script>
</body>

</html>